<div class="container">
  <div class="outer-box">
    <div class="outer-box-inset">
      <form action="/tests/" method="POST">

        <label for="test-url">GitHub URL</label>
        <input type="submit" style="display: none" /><!-- allows enter to submit form -->
        <input id="test-url" type="input" name="url" value="<%= url %>" placeholder="http://github.com/username/repo"/>
        <a class="button" href="#" onclick="document.forms[0].submit()"></a>
        <% if (locals.error) { %>
          <div class="error" id="error"><%= error %></div>
        <% } %>

        <div class="inner-box">
          <div class="inner-box-inset">
            <p>
              CloudQ takes your project's QUnit tests and runs them in a sandboxed DOM environment on our servers. Then we notify you with the result. It's a breeze!
            </p>
          </div>
        </div>
    </div>
  </div>

  <% if (locals.test_results && test_results.length) { %>
  <div class="outer-box">
    <div class="outer-box-inset">
      <div class="header test-result-toggle">
        <a class="toggle-open" href="#"></a>
        <div class="title">Recent Tests</div>
      </div>

      <div class="inner-box" style="display:none">
        <div class="inner-box-inset">
          <%
          for (var i = 0, result; i < test_results.length; i++) {
            result = test_results[i];
          %>
          <p>
            <a href="/tests/<%= result.value.test_id %>"><%= result.value.url %></a> (<%= result.value.passed * 1 %>/<%= 0 + result.value.total * 1%>)
          </p>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <% } %>
  
  <div class="outer-box">
    <div class="outer-box-inset">
      <div class="header test-result-toggle">
        <a class="toggle-open" href="#"></a>
        <div class="title">Instructions</div>
      </div>

      <div class="inner-box" style="display:none">
        <div class="inner-box-inset">
          <ol class="instructions" style="margin-left: 20px">
            <li>Give us a URL to your GitHub Repo (including http://)</li>
            <li>Your repo must have a top-level /test or /tests/ directory containing an index.html QUnit test file</li>
            <li>You can also give us a URL that points directly to your html file</li>
            <li>We will scrape any JS includes in that test file, and we'll execute your test</li>
            <li>We don't support all DOM operations, objects (i.e. XMLHttpRequest)</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>