<div class="outer-box">
  <div class="outer-box-inset">
    <div class="inner-box">
      <div class="inner-box-inset">
        <p>
          Congratulations. We've received your test.

          <div class="success"><%= test.url %></div>

        </p>
        
        <form action="/tests/<%= id %>/run" method="POST">
          <a class="button" href="#" onclick="document.forms[0].submit()"></a>
          <input type="submit" style="display: none" value="Run Test"/><!-- allows enter to submit form -->
        </form>
        <div style="clear:both"></div>
      </div>
    </div>
  </div>
</div>

<a href="#">Get GitHub Post-Commit Hook</a>
<div class="outer-box" id="webhook">
  <div class="outer-box-inset">
      <label for="test-url">Twitter Handle</label>
      <input id="twitter-handle" type="input" name="twitter-handle" />
      <label style="margin-top: 5px"  for="twitter">GitHub Hook</label>
      <input id="twitter" type="input" name="twitter" value=""/>
  </div>
</div>


<% for (var i = 0; i < test_results.rows.length; i++) { %>
<% results = test_results.rows[i].value %>

<div class="outer-box">
  <div class="outer-box-inset">
    <div class="header">
      <a class="toggle-open" href="#"></a>
      <div class="title">c3dd5f... <%= results.date %></div>
      <div class="score"> 80 / 84</div>
    </div>
    
    <div class="inner-box">
      <div class="inner-box-inset">
        <ul class="tests">
        <% for (var i = 0, test; (test = results.output[i]) != null; i++) { %>

            <li class="header"><%= test.name %></li>

            <% for (var j = 0, assertion; (assertion = test.tests[j]) != null; j++) { %>

                <% if (assertion.result) { %>
                    <li class="passed"><%= assertion.message %></li>
                <% } else { %>
                    <li class="failed"><%= assertion.message %></li>
                <% } %>

            <% } %>
        <% } %>
        </ul>
      </div>
    </div>
  </div>
</div>
<% } %>
